.MuiContainer-root {
  background: #001e3c0f;
  color: #fff;
  max-width: 100vw !important;
}

.css-uaf0ag-MuiStack-root {
  background: #bbdefb !important;
}

.css-xdmu94-MuiContainer-root {
  padding-left: 100px !important;
  padding-right: 100px !important;
}
